@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,700i,800,800i&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}
#landing{
    width: 100%;
    height: 100vh;
    background: url(./img/back.png);
    background-size: cover;
    background-position: center;
    #content-landing{
        color: white !important;
        text-align: center;
        margin-top: 10%;
    }
    .btn{
        margin-top: 9rem;
    }
    .btn-danger{
        background-color: #68000C;
        border-color: #fff;
    }
    .display-1{
        font-weight: 700;
    }
    
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}